.hello {
    text-indent: 50px;
}
.smile {
    width: 600px;
}
.gaming {
    width: 600px;
}
.nav {
    display: flex;
}
.lel {
    position: relative;
    width: 180px;
    height: 140px;
    margin: auto;
    z-index: -1;
    border: 5px solid lightgray;
}

.giant {
    display: flex;
}